.sidebarChat{
    display: flex;
    padding: 21px;
    cursor: pointer;
    border-bottom: 2px solid rgb(235, 235, 235);
}
.sidebarChat:hover{
    background-color: #ebebeb;
}

.sidebarChat_info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat_info{
    margin-left: 15px;
}
.sidebarChat_modal{
        display: flex;
        align-items:center;
        justify-content: center;
        padding: 50px;
}
.sidebarChat_fade{
    background-color: white;
    border: 1px solid #000 ;
    box-shadow: 10px;
    padding: 15px;
}
a {
    text-decoration: none;
    color: black;
}